body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header {
  position: relative;
  background-color: #b83636;
  padding-bottom: 50px;
  padding-top: 20px;
}
.header__list {
  padding-bottom: 20px;
  border-bottom: 1px solid #360000;
  display: flex;
  justify-content: space-around;
}
.header__subtitle {
  position: absolute;
  color: #360000;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Neucha", sans-serif;
}
.header__link {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.header__title {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  padding-bottom: 30px;
  padding-top: 40px;
}
.header__describe {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  padding-bottom: 30px;
  font-family: "Neucha", sans-serif;
}
.header__btn-wrap {
  display: flex;
  justify-content: center;
}
.header__btn {
  cursor: pointer;
  border: 1px solid #360000;
  background-color: #360000;
  color: #fff;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 500ms ease-in-out;
  border-radius: 5px;
}
.header__btn:hover {
  background-color: transparent;
  color: #360000;
}

.find {
  padding-top: 50px;
  padding-bottom: 40px;
}
.find__title {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 30px;
}
.find__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.find__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.find__select {
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #b83636;
  background-color: #b83636;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  max-width: 300px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.find__list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.find__item {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 30px;
  max-width: 300px;
  background-color: #b83636;
}
.find__name {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.find__year-wrap, .find__genre-wrap, .find__rating-wrap {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0px;
}
.find__year, .find__genre, .find__rating {
  font-weight: 400;
}
.find__btn {
  border: 1px solid #360000;
  border-radius: 5px;
  background-color: #360000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.find__btn:hover {
  background-color: transparent;
  color: #360000;
}
.find .add__btn {
  margin-top: 10px;
  border: 1px solid #360000;
  border-radius: 5px;
  background-color: #360000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.find .add__btn:hover {
  background-color: transparent;
  color: #360000;
}

.fav {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fav__title {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 30px;
}

.random {
  padding-top: 50px;
  padding-bottom: 70px;
}
.random__title {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 30px;
}
.random__movie-added {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 30px 0px;
  max-width: 400px;
  background-color: #b83636;
}
.random__name {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.random__year-wrap, .random__genre-wrap, .random__rating-wrap {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0px;
}
.random__year, .random__genre, .random__rating {
  font-weight: 400;
}
.random__btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.random__btn {
  border: 1px solid #b83636;
  border-radius: 5px;
  background-color: #b83636;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.random__btn:hover {
  background-color: transparent;
  color: #b83636;
}
.random .add__btn {
  margin-top: 10px;
  border: 1px solid #360000;
  border-radius: 5px;
  background-color: #360000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.random .add__btn:hover {
  background-color: transparent;
  color: #360000;
}

.footer {
  background-color: #b83636;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  padding-left: 40px;
  max-width: 500px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: "Neucha", sans-serif;
  font-weight: 500;
}
.footer__mail {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  padding-right: 40px;
}/*# sourceMappingURL=styles.css.map */